<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="30100">
    <setting label="Email / login" type="text" id="username" default=""/>
    <setting label="30101" type="text" id="password" option="hidden" enable="!eq(-1,false)" default=""/>
    <setting label="Pin" type="text" id="pin" option="hidden" enable="!eq(-1,false)" default=""/>
    <setting label="30102" id="idd" type="enum" values="Android|iOS" enable="!eq(-2,false)" default="0"/>
    <setting type="sep"/>
    <setting label="Device Id" type="text" id="id" default="" enable="false"/>
    <setting label="Password" type="text" id="passwordid" default="" enable="false"/>
    <setting label="30103" type="action" action="RunPlugin(plugin://plugin.video.archivsledovanitv/?action=un_pair)" enable=!eq(-1,)/>
	</category>
	<category label="30116">
    <setting label="30104" id="quality" type="enum" lvalues="30122|30123|30124" default="2"/>
    <setting label="30125" id="codec" type="enum" values="h.265|h.264" default="0"/>
    <setting label="30105" id="logo" type="enum" lvalues="30106|30107" default="0"/>
   <setting label="30108" id="sorting" type="enum" lvalues="30109|30110" default="0"/>
    <setting type="sep" />
    <setting type="lsep" label="30111" />
    <setting label="30112" type="folder" id="download_folder" default =""/>
    <setting label="30113" type="slider" id="start_min" default="0" range="0,1,20" option="int" />
    <setting label="30114" type="slider" id="end_min" default="0" range="0,1,20" option="int" />
    <setting id="dialog" type="bool" label="30115" default="true" />
    <setting type="sep" />
    <setting id="inputstream" type="bool" label="InputStream Adaptive" default="false" />
  </category>
  <category label="Playlist">
    <setting label="30117" type="folder" id="playlist_folder" default =""/>
    <setting id="tvgid_enable" type="bool" label="30119" default="true" />
    <setting id="playlist" type="action" label="30118" option="close" action="RunPlugin(plugin://plugin.video.archivsledovanitv/?action=playlist)" />
  </category>
  <category label="Donate">
    <setting id="paypal" type="action" label="PayPal" option="close" action="RunScript(special://home/addons/plugin.video.archivsledovanitv/resources/lib/donate.py)" />
  </category>
</settings>
