<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Přihlášení">
    <setting label="Email / login" type="text" id="username" default=""/>
    <setting label="Heslo" type="text" id="password" option="hidden" enable="!eq(-1,false)" default=""/>
    <setting label="Pin" type="text" id="pin" option="hidden" enable="!eq(-1,false)" default=""/>
    <setting label="Identifikace zařízení" id="idd" type="enum" values="Android|iOS" enable="!eq(-2,false)" default="0"/>
    <setting type="sep"/>
    <setting label="Device Id" type="text" id="id" default="" enable="false"/>
    <setting label="Password" type="text" id="passwordid" default="" enable="false"/>
    <setting label="Zrušit párování (odebrat zařízení)" type="action" action="RunPlugin(plugin://plugin.video.archivsledovanitv/?action=un_pair)" enable=!eq(-1,)/>
	</category>
	<category label="Ostatní">
    <setting label="Kvalita videa" id="quality" type="enum" values="HD  H.265|HD  H.264|SD  H.264" default="0"/>
    <setting label="Loga kanálů" id="logo" type="enum" values="Barevná|Bílá" default="0"/>
   <setting label="Řazení pořadů" id="sorting" type="enum" values="Nejnovější|Nejstarší" default="0"/>
    <setting type="sep" />
    <setting type="lsep" label="Stahování" />
    <setting label="Složka" type="folder" id="download_folder" default =""/>
    <setting label="Začátek (+ minut)" type="slider" id="start_min" default="0" range="0,1,20" option="int" />
    <setting label="Konec (- minut)" type="slider" id="end_min" default="0" range="0,1,20" option="int" />
    <setting id="dialog" type="bool" label="Dialog stahování na pozadí" default="true" />
    <setting type="sep" />
    <setting id="inputstream" type="bool" label="InputStream Adaptive" default="false" />
  </category>
  <category label="Donate">
    <setting id="paypal" type="action" label="PayPal" option="close" action="RunScript(special://home/addons/plugin.video.archivsledovanitv/donate.py)" />
  </category>
</settings>
